body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 100;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.logo {
  display: flex;
  align-items: center; /* Align items vertically centered */
}

.logo img {
  margin-right: 10px; /* Add space between the image and the text */
}

.logo-text {
  margin: 0; /* Remove default margin from h1 */
}

.utility-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.utility-nav li {
    margin-left: 20px;
}

.utility-nav a {
    color: white;
    text-decoration: none;
}

.utility-nav a:hover {
    text-decoration: underline;
}

.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.number {
    position: absolute;
    font-size: 16px;
    color: #333;
    transform: translate(-50%, -50%);
    user-select: none; /* Prevent user selection */
}

#clock {
    width: 200px;
    height: 200px;
    border: 8px solid #333;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hand {
    width: 10px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 0%;
    left: 51%;
    transform-origin: bottom; /* Fix one end of the hand */
    transform: rotate(0deg); /* Start at 12:00 */
}

#time-display {
    font-size: 20px;
    margin-top: 20px;
}


/* Style for visible text */
.smalltext {
    padding-top: 5px;
    font-size: 16px;
}

.shop-background {
  position: absolute;
  top: 80px; /* Adjust this value according to the height of your header */
  left: 0;
  width: 100%;
  height: calc(100% - 80px); /* Adjust this value according to the height of your header */
  background-image: url('/Images/shopinterface.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1; /* Ensure it is behind other content */
}
